h1 {
	color: white;
	font-size: 35px;
}

h4 {
    color: #8d1c64;
}

.navbar{
    background-color: #8d1c64;
}

.navbar-nav >li{
    padding-left:15px;
}

.card{
    max-width: 32rem;
}

#magenta_links{
	color: #8d1c64;
	font-weight: bold;
}
